<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A curated database of the best cafes.">
    <meta name="author" content="Marco Joseph Bernacer">
    <meta name="theme-color" content="#712cf9">

    <title>{% block title %}Title{% endblock %}</title>

    <!-- CSS Frameworks -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google Fonts  -->

    <!-- Custom CSS  -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    {% block styles %}{% endblock %}
</head>
<body class="bg-gray-100 text-gray-900 p-10">

    {% include "components/header.html" %}

    <main class="">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </main>

    {% include "components/footer.html" %}

    {% block scripts %}
        <script src="{{ url_for('static', filename='javascript/global.js') }}"></script>
    {% endblock %}
</body>
</html>